body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template: 1fr 1fr 5fr 2fr 1fr / 1fr 1fr 1fr;
    column-gap: 100px;
    justify-content: space-between;
    background-color: #f8f8f8;
}

/* This is the top search bar */

.section1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template: 1fr / repeat(7, 1fr); 
    height: 50px;
}

.search-container {
    grid-column-start: 1;
    grid-column-end: 7;
    height: 25px;
    width: 270px;
    background-color: white;
    border-radius: 30px;
    padding: 10px 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 10px;
    
}

.mag_glass {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 20px;
    height: 20px;
    align-content: start;
    color:rgb(118, 118, 118);
    }

.search-input {
    border: none;
    outline: none;
    font-size: 11px;
    align-content: start;
    grid-column-start: 2;
    grid-column-end: 7;
    position: relative;
    top: -7px;
    left: 14px;

}

.search-details {
    grid-column-start: 2;
    grid-column-end: 7;
    align-content: start;
    display: inline-block;
    color: #6b6b6b;
    font-size: 9px;
    position: relative;
    top: -12px;
    left: 37px;
}

.search-details span {
    margin: 0 5px;
}

.filter-button {
    grid-column-start: 7;
    grid-row-start: 1;
    width: 20px;
    height: 20px;
    border-radius: 55px;
    border-color: #333333;
    border-width: 1px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


